<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Hellllllo World!</h1>
      <% for(let user of users) { %>
        <p><%= user.name %></p>
      <% } %>
    </div>
  </body>
</html>
